header{
    background-color: aqua;
    text-align: center;
}

hr{
    border-color: coral;
}

main{
    padding: 10px;
}

footer{
    padding: 10px;
}

.section-title{
    color: burlywood;
}